@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC')

*
  box-sizing: border-box

body 
  background: #000
  display: flex
  justify-content: center
  align-items: center
  font-family: 'Noto Sans SC', sans-serif

h1, h2, h3
  font-family: 'Oswald', sans-serif


h1
  font-weight: 200
  text-transform: uppercase
  letter-spacing: 15px
  text-align-center
  letter-spacing: 31px
  font-size: 59px
  top: 180px
  text-shadow: 0px 2px 33px rgba(255, 255, 255, 0.9)
  opacity: 0
  animation: blur-text-enter 1.6s ease 2.7s forwards
  
#dribbble 
  width: 1200px
  height: 900px
  background: #ced3d8
  display: flex
  justify-content: center
  align-items: center


#frame 
  background: #0a081a
  height: 610px
  width: 1086px
  overflow: hidden
  position: relative

.bg-stars
  color: #fff
  position: absolute
  width: 100%
  z-index: 0

header
  color: #fff
  padding: 30px 40px 10px 40px
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
  opacity: 0
  animation: show 3s ease 2.7s forwards

  .logo

  nav
    color: #fff
    display: flex
    align-items: flex-start
    margin-left: 165px

    a
      font-size: 12px
      color: rgba(#fff, .8)
      text-decoration: none
      margin-right: 50px
      font-weight: 300
      letter-spacing: 1px

    .active
      color: #619AA4

      &:after
        content: ''
        display: block
        height: 2px
        background: #619AA4
        width: 21px
        margin-top: 7px

  .follow
    color: #fff
    display: flex
    align-items: center

    h3
      color: #fff
      margin: 0
      font-weight: 100
      text-transform: uppercase
      letter-spacing: 2px
      opacity: .6
      font-size: 12px
      margin-right: 10px

    &__dash
      background: #fff
      width: 30px
      height: 1px
      opacity: .6
      margin-right: 20px
 
    &__link
      color: #fff
      margin: 0
      font-weight: 300
      color: #fff
      margin: 0
      font-weight: 100
      text-transform: uppercase
      letter-spacing: 2px
      font-size: 12px
      margin-right: 10px
      font-family: 'Oswald', sans-serif

main
  color: #fff
  display: flex
  justify-content: space-between

  p.main-text
    max-width: 240px
    opacity: 0.7
    line-height: 2.4
    font-size: 11px
    flex: 1
    position: relative
    right: -100px
    top: 50px
    opacity: 0
    animation: blur-enter 1s ease 1.4s forwards 

    &:after
      content: ''
      background: #33b8c5
      width: 25px
      height: 2px
      display: block
      margin-top: 10px
  
  .slide 
    color: #fff
    flex: 4
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    opacity: 0
    animation: blur-enter 1s ease 1.8s forwards 

    .spotlight
      box-shadow: 0 2px 64px rgba(52, 81, 96, 0.6)
      width: 340px
      height: 320px
      margin: 0 auto
      left: 0
      margin-top: 40px
      right: 0
      z-index: -1
      border-radius: 50%
      background: rgba(52, 81, 96, 0.6)
      position: absolute
      filter: blur(40px)
      opacity: 0
      animation: show 3s ease 2.7s forwards


    h1
      position: absolute
      margin: 0
      letter-spacing: 27px
      font-size: 53px

    img
      display: none

    canvas
      width: 280px !important
      height: 413px !important

    .slides
      margin-top: 35px
      display: flex
      align-items: flex-start

      a
        text-decoration: none
        color: #fff
        font-family: 'Oswald', sans-serif
        font-weight: 200
        margin-right: 20px
        font-size: 14px
        opacity: .4
        letter-spacing: 1px

      a.active
        opacity: 1

        &:after
          display: block
          content: ''
          width: 14px
          height: 1px
          background: #fff
          margin-top: 10px

  .video
    flex: 1
    position: relative
    right: 60px
    display: flex
    align-items: center
    opacity: 0
    animation: blur-enter 1s ease 2.1s forwards
    
    img
      width: 170px
      position: relative
      top: -20px
      opacity: 0.7
      

footer
  .uppie
    position: absolute
    left: 0
    bottom: -20px
    opacity: 0
    animation: blur-enter 1s ease 1s forwards

    img
      opacity: .7 
      width: 180px


.credits
  position: absolute
  right: -62px
  bottom: -105px
  width: 219px
  height: 219px
  border: 2px solid rgba(#66B1E3, .3)
  border-radius: 50%
  color: #fff
  opacity: 0
  animation: show 3s ease 2.7s forwards

  .credit
    display: flex
    align-items: center
    justify-content: center
    position: relative
    transform: scale(0.9)

    &-pos
      position: relative
      top: 56px
      left: -30px

    a
      color: #fff

    img
      width: 40px
      height: 40px 
      margin-right: 15px
      box-shadow: 1px 1px 100px rgba(255, 255, 255, 1)
      border-radius: 50%

    h4
      font-size: 11px
      letter-spacing: 1.2px
      margin: 0
      min-width: 107px
      color: #fff

    p
      opacity: 0.5
      font-size: 10px
      margin-top: 5px
      margin-bottom: 0
      color: #fff
 
  img
    width: 40px






#magic-cursor
  pointer-events: none
  z-index: 99

#ball
  position: fixed
  display: block
  left: 0
  top: 0
  transform: translate(-50%, -50%)
  width: 25px
  height: 25px
  border: .8px solid #fff
  border-radius: 50%
  pointer-events: none
  width: 14px
  height: 14px
  border: 1px solid #33b8c5
  border-radius: 50%
  margin-right: 14px

.contact-area
  width: 190px
  margin-top: -35px
  margin-left: -5px
  height: 80px
  display: flex
  position: relative
  justify-content: center
  align-items: center
  float: left
  z-index: 10
  border-radius: 50%


#ball.bl
  transform: scale(1.1) translate(-9px, -9px)
  opacity: .3



@keyframes blur-text-enter
  from
    letter-spacing: 10px
    opacity: 0
    filter: blur(10px)
  to
    letter-spacing: 27px
    opacity: 1
    filter: blur(0)


@keyframes blur-enter
  from
    opacity: 0
    filter: blur(10px)
    transform: translateY(20px)
  to
    opacity: 1
    filter: blur(0)
    transform: translateY(0px)


@keyframes show
  from
    opacity: 0

  to
    opacity: 1