body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dribbble {
  width: 1200px;
  height: 900px;
  background: #ced3d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  background: #0a081a;
  height: 610px;
  width: 1086px;
  overflow: hidden;
}


.bg-stars

header
.logo
nav
a

.follow
  h3
  follow__dash
  follow__link

main
p
 
.slide
  h1
  img
  .slides
    a

footer
  img

.credits